{% load static %} <!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PharmaGuest - Votre Pharmacie en ligne</title>
    <link rel="stylesheet" href="{% static '/css/home.css' %}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>

    <!-- header start-->
    <header class="navbar">
        <i class="logo"><span>Med</span>Online</i>
        <nav>
            <ul>
                <li><a href="/html/index.html">Accueil</a></li>
                <li><a href="#">Pharmacies</a></li>
                <li><a href="#">Produits</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

        <div class="Account-btn" id="auth-container">
            <button class="LogIn" onclick="window.location.href='/html/LogIn.html'">Log In</button>
            <button class="SignUp" onclick="window.location.href='/html/SignUp.html'">Sign Up</button>
        </div>

    </header>
    <!-- header end-->

    <!-- Services start-->
    <section class="hero">
        <div class="slide active"
            style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url('/images/Pharma1.jpeg');">
            <div class="hero-content">
                <h1>Trouvez vos médicaments en un clic</h1>
                <p>Accédez au stock des pharmacies les plus proches.</p>
            </div>
        </div>
        <div class="search-bar">
            <input type="text" id="search-input" placeholder="Rechercher un médicament (ex: Doliprane)...">
            <button id="search-btn">Rechercher</button>
        </div>

        <div class="slide"
            style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url('/images/Pharma3.jpeg');">
            <div class="hero-content">
                <h1>Pharmacies de garde</h1>
                <p>Trouvez rapidement une pharmacie ouverte 24h/24.</p>
            </div>
        </div>

        <div class="slide"
            style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url('/images/Pharma2.jpeg');">
            <div class="hero-content">
                <h1>Conseils d'experts</h1>
                <p>Discutez avec des professionnels de santé qualifiés.</p>
            </div>
        </div>
    </section>
    <!-- Services end-->

    <!-- statistics end-->
    <section class="features">

        <div class="stat-card">
            <h1>500+</h1>
            <p>Pharmacies partenaires</p>
        </div>
        <div class="stat-card">
            <h1>10K</h1>
            <p>Médicaments disponibles</p>
        </div>
        <div class="stat-card">
            <h1>24/7</h1>
            <p>Service en continu</p>
        </div>

        <div class="card">
            <div class="fas fa-location-dot"></div>
            <h3>Géolocalisation</h3>
            <p>Découvrez les pharmacies les plus proches avec leurs horaires et contacts</p>
        </div>
        <div class="card">
            <div class="fas fa-capsules"></div>
            <h3>Disponibilité</h3>
            <p>Trouvez vos médicaments par nom ou catégorie en quelques secondes</p>
        </div>
        <div class="card">
            <div class="fas fa-cart-flatbed"></div>
            <h3>Commandes</h3>
            <p>Passez vos commandes de médicaments dans la pharmacie la plus proche</p>
        </div>
    </section>
    <!-- statistics end-->

    <!-- footer end-->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-col">
                <div class="logo"><span>Med</span>Online</div>
                <p>Votre partenaire santé de confiance, accessible partout et à tout moment.</p>
            </div>
            <div class="footer-col">
                <h4>Liens</h4>
                <ul>
                    <li><a href="#">Nos Pharmacies</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Adresse</h4>
                <p>Yaoundé, Cameroun</p>
                <p>+237 678 502 795</p>
                <p>support@medonline.com</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 MedOnline. Tous droits réservés.</p>
        </div>
    </footer>

    <!-- footer end-->
    <script src="{% static '/js/home.js' %}"></script>
</body>

</html>